<h4>Gallery</h4>
<div class="card-deck">
  <div class="card mt-2" *ngFor="let album of listAlbums">
    <img class="card-img-top" src={{album.coverImage?album.coverImage:album.listImages[0]}}>
    <div class="card-block">
      <h4 class="card-title">{{album.name}}</h4>
       <button type="button" class="btn btn-info" (click)="navigateToAlbum(album._id)">View All</button>
      <p class="card-text"><small class="text-muted">Number of Images: {{album.listImages.length}}</small></p>
    </div>
  </div>
</div>